<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Map</title>
        <meta charset="UTF-8">
        <meta name ="description" content="mappage">
        <meta name ="keywords" content="gaming,nintendo,sony,microsoft,html5,css3">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <header th:replace="layout/plantilla :: header" ></header>
        
        <div class="texto">
        <h1 class="login">Login</h1>  
        <br>
        <hr>
        <br>
        <h2 class="title"> Contactenos </h2>
        <p>Soporte al cliente 8000-Golden (8000-4012)</p>
        <br>
        <p>Whatsapp 7172-7374</p>
        <br>
        <p>Correo Soporte@goldengaming.co.cr</p>
        <br>
        <br><!-- comment -->
        
        <h3>Redes sociales</h3>
        <a class="link" href="https://www.facebook.com/" target="_blank"> <h4> Facebook </h4> </a>
        <a class="link" href="https://twitter.com/?msclkid=77eb8fafabf211ec9b1a5c772b6e9a20" target="_blank"> <h4> Twitterk </h4> </a>
        <a class="link" href="https://www.instagram.com/?msclkid=b1784819abf211eca4613ea94873a212"> <h4> Instagram </h4> </a>
        <a class="link" href="https://www.youtube.com/"> <h4> Youtube </h4> </a>
        <hr>
        <br> 
        <h2 class="title"> Ubicacion </h2>
        </div>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.1512195626888!2d-84.21389148473274!3d10.004365175702869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9bec89eb921%3A0x33be443103056771!2sCity%20Mall!5e0!3m2!1ses!2scr!4v1648182124868!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><!-- comment -->
         
        <hr>
        <br>   
        <div class="texto">    
        <h2 class="title"> Mas sitios: </h2>
        <hr>
        <br>   
        </div>
        <footer th:replace="layout/plantilla :: footer" ></footer>
    </body>
</html>
