<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class = "contenido">
            <h2 th:text="#{categoria.titulo}">Listado Categorias</h2>

            <a th:href="@{/categoria/nuevo}" th:text="#{categoria.nuevo}">Nuevo Categoria</a> 

            <div th:if="${categorias != null and !categorias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{categoria.descripcion}">Descripcion</th>
                            <th th:text="#{categoria.activo}">Activo</th>
                            <th th:text="#{accion.eliminar}">Eliminar</th>
                            <th th:text="#{accion.actualizar}">Modificar</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <td th:text="${categoria.descripcion}"></td>
                            <td> <input type="checkbox" name="activo" th:checked="${categoria.activo}" disabled="true"></td>
                            <td><a th:href="@{/categoria/eliminar/} + ${categoria.idCategoria}"
                                   th:text="#{accion.eliminar}">Eliminar</a></td>
                            <td><a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}"
                                   th:text="#{accion.actualizar}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${categorias == null or categorias.empty}">
                <p th:text="#{categoria.no_mostrar}"> No tenemos categorias que mostrar... </p>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
